@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    text-decoration: none;
}
.box {
    margin: 20px;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    color: rgb(15, 233, 160);
    font-weight:bolder;
    
    }

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
    
   }

.bar a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
    color: rgb(87, 84, 84);
}
.bar a:hover{
    color: aquamarine;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo {
   display: flex;
}

.logo {
    justify-content: center;
}
.title1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:xx-large;
    color: rgb(15, 233, 160);
    font-weight:bolder;
    text-align: center;
    

}

.text1 {
    border: 1px solid white);
    width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    
    
}
.text2 {
    border: 1px solid white);
    width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.icon1 {
    border: 1px solid rgb(15, 233, 160); ;
    border-radius: 20px;
    width: 260px;
    height: 250px;
    text-align: center;
    font-size:x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(3, 139, 121);
    color: rgb(253, 253, 253);
    padding: 30px;

}
.icon2 {
    border: 1px solid rgb(15, 233, 160); ;
    border-radius: 20px;
    width: 260px;
    height: 250px;
    text-align: center;
    font-size:x-large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(90, 9, 219);
    color: rgb(253, 253, 253);
    padding: 30px;

}
.icon3 {
    border: 1px solid rgb(15, 233, 160); ;
    border-radius: 20px;
    width: 260px;
    height: 250px;
    text-align: center;
    font-size:x-large;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(1, 19, 16);
    color: rgb(253, 253, 253);
    padding: 30px;

}

.icon {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lien {
    font-family: Arial, Helvetica, sans-serif;
    color: aqua;
}
    

.onglet1 {
    background: rgb(25, 170, 238);
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    
}
.ong1 {
    border: 1px solid teal;
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.ong2 {
    border: 1px solid teal;
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.ong3 {
    border: 1px solid teal;
    width: 200px;
    height: 250px;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.logoSite {
    display: flex;
    align-items: center;
    margin: 40px;
    padding: 50px;
}

.grid-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 50px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    background-color: rgb(197, 255, 236);
}

.desc{
    grid-row-start: 1;
    grid-row-end: 3;
    font-family: Arial, Helvetica, sans-serif;
}

.grid1{
    background-color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.grid2{
    background-color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.grid3{
    background-color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.grid4{
    background-color: white;
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.discp2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    -ms-flex-align: center;
    margin: 100px;
    padding: 10px;
}

.gridcon1 {
    display: flex;
}
